[Unit]
Description=immich main server
Documentation=https://github.com/immich-app/immich
After=network.target

# To add dependencies on local services (immich-machine-learning, postgresql, redis),
# use `systemctl edit immich-server.service` and add the required After=/Requires= directives.
# Example:
#   [Unit]
#   After=immich-machine-learning.service postgresql.service redis.service
#   Requires=immich-machine-learning.service postgresql.service redis.service

[Service]
# The user/group immich server is run under
User=immich
Group=immich
# Any files created are only owned by user and group immich
UMask=0007

# Directories used by the service
StateDirectory=immich immich/data immich/plugins
# Permissions only for user and group immich
StateDirectoryMode=0750

# The location of the env file for configuration
EnvironmentFile=/etc/default/immich-server
# build info
EnvironmentFile=/usr/share/doc/immich-server/build.env

# Start the server
ExecStart=/bin/sh -c ' \
  CPU_CORES=$(/usr/lib/immich/server/bin/get-cpus.sh); \
  if [ "$CPU_CORES" -gt 4 ]; then \
    UV_THREADPOOL_SIZE=$CPU_CORES; \
  fi; \
  LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/lib/jellyfin-ffmpeg/lib \
  PATH=/usr/lib/jellyfin-ffmpeg:$PATH \
  exec node dist/main "$@"'
# Set the working directory
WorkingDirectory=/usr/lib/immich/server

# Restart on failure
Restart=on-failure
RestartSec=5s

# Basic security hardening
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
LockPersonality=yes

[Install]
WantedBy=multi-user.target
