name: deb packaging

on:
  push:
    tags:
      - 'debian/*.*.*-*'
      - 'test/*'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:

  build-native:
    uses: dionysius/gbp-gha/.github/workflows/gbp-native.yml@main
    with:
      # https://github.com/orgs/community/discussions/26671
      DEBFULLNAME: dionysius (github-actions)
      DEBEMAIL: dragon.dionysius+gha@gmail.com
      before_build_deps_install: |
        curl -fsSL https://deb.nodesource.com/setup_22.x | bash -
        apt-get install -y nodejs
        curl -fsSL https://build.opensuse.org/projects/home:dionysius:immich/signing_keys/download?kind=gpg | sudo gpg --dearmor -o /etc/apt/keyrings/obs-dionysius.key
        dist="$(lsb_release -si)_$(lsb_release -sr)"
        [[ "$dist" == Ubuntu* ]] && dist="x${dist}"
        echo "deb [signed-by=/etc/apt/keyrings/obs-dionysius.key] https://download.opensuse.org/repositories/home:/dionysius:/immich/$dist/ /" | sudo tee /etc/apt/sources.list.d/obs-dionysius.list
        apt-get update
    secrets:
      GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
  release:
    if: startsWith(github.event.ref, 'refs/tags/debian')
    needs: [build-native]
    uses: dionysius/gbp-gha/.github/workflows/release.yml@main
